@model Ts3.pl.SharedModel.ForumViewModel
@using DataLayer.WebCommon.Authorization;

<div class="pull-right">
    <ul class="nav navbar-right navbar-nav nav-pills">
        @if (SessionPresister.UserId == default(int))
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b> Logowanie</b> <span class="caret"></span></a>
                <ul id="login-dp" class="dropdown-menu">
                    <li>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="social-buttons">
                                    <div class="iconSpecial"><i class="glyphicon glyphicon-user"></i> </div>
                                </div>

                                @using (Html.BeginForm("Login", "Registry", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Users.DisplayName, new { htmlAttributes = new { @class = "form-control input-md", @placeholder = "Wpisz login..." } })
                                        @Html.ValidationMessageFor(model => model.Users.DisplayName, "", new { @class = "text-danger" })
                                    </div>
                                        <div class="form-group">
                                            @Html.PasswordFor(model => model.Users.Password, new { @class = "form-control input-md", @placeholder = "Wpisz hasło..." })
                                            @Html.ValidationMessageFor(model => model.Users.Password, "", new { @class = "text-danger" })
                                            <div class="help-block text-right"><a href="">Zapomniałeś hasło ?</a></div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Zaloguj</button>
                                        </div>

                                }

                            </div>
                        </div>
                    </li>
                </ul>
            </li>

        }
        else
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b> <label class="text-info">&nbsp;&nbsp;@SessionPresister.UserName</label></b> <span class="caret"></span></a>
                <ul class="dropdown-menu hover" >
                    <li><a href="#">Profil</a></li>
                    <li><a href="#">Wiadomości</a></li>
                    <li class="divider"></li>
                    <li><a href="@Url.Action("LogOut","Registry")">Wyloguj się</a></li>
                </ul>
            </li>
        }
    </ul>
</div>
