@model Ts3.pl.Models.Users

@{
    ViewBag.Title = "Registry";
    Layout = "~/Views/_SharedView.cshtml";

}
<style>
    label {
        color: #428bca !important;
        text-decoration: none;
    }
</style>


<body>

    @if (!string.IsNullOrEmpty(Html.ViewBag.ErrorMsg))
    {
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Błąd!</strong> @ViewBag.ErrorMsg
        </div>
    }
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Rejestracja - utwórz konto! / Logowanie - zaloguj się </h3>
        </div>
        <div class="panel-body">

            <div class="row">

                <div class="col-md-5">
                    @Html.RadioButton("radB", 0, new { onClick = "ShowPartialView(0)", @class = "control -label" })
                    @Html.Label("Nie posiadam Konto. Chce się zarejestrować!", new { @class = "control -label" })

                    @Html.RadioButton("radB", 0, new { onClick = "ShowPartialView(1)", @class = "control-label" })
                    @Html.Label("Chce się zalogować!", new { @class = "control-label" })
                </div>
                <div class="col-md-7" style="border-left:1px solid #ccc;height:450px">
                    
                        <div id="_Registry" style="display:none">
                            @Html.Partial("_Registry", Model)
                        </div>
                        <div id="_LoginForm" style="display:none">
                            @Html.Partial("_LoginForm", Model)
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
@Scripts.Render("~/bundles/bootstrap")
<script>
    function ShowPartialView(id) {
        if (id > 0) {
            $("#_LoginForm").show();
            $("#_Registry").hide();
        }

        else {
            $("#_LoginForm").hide();
            $("#_Registry").show();
        }

    }
</script>