
@using Ts3.pl.Utilities
@model Ts3.pl.SharedModel.ForumViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forum :: Home Page</title>
    <script src="https://use.fontawesome.com/07b0ce5d10.js"></script>
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/bootstrap")
   
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
</head>
<body>

    <div class="container-fluid">

        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">

            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- logo -->
           
                <div class="collapse navbar-collapse animated fadeIn" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav animated fadeIn text16 center-block">
                        <li class="@Html.IsActive("Home", "Index")"><a href="/Home"><span class="glyphicon glyphicon-home"></span> Strona główna</a></li>
                        <li class=""><a href="#"><span class="glyphicon glyphicon-th-large"></span> Dodaj Serwer DNS</a></li>
                        <li class="@Html.IsActive("Forum", "Index")"><a href="/Forum"><span class="glyphicon glyphicon-th"></span> Forum</a></li>
                        <li class="@Html.IsActive("Registry", "Index")"><a href="/Registry?ReturnUrl=@Html.ReturnUrl()"><span class="glyphicon glyphicon-pencil"></span> Rejestracja</a></li>
                    </ul>
                    @if (!Html.ShowPartialView("Forum"))
                    {
                        <ul class="nav navbar-nav animated fadeIn text16 pull-right">
                            @{ Html.RenderPartial("_LoginForm");} <!-- LOGOWANIE -->
                        </ul>
                                }
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- Second Nav -->

        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container-fluid">
                @if (User.IsInRole("TEST"))
                {
                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Brand -->
                        <a class="navbar-brand" href="#">Panel Administratora</a>
                    </div>
                    <div class="collapse navbar-collapse animated fadeIn" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav animated fadeIn">
                            <li class="active"><a href="#">Lista użytkowników</a></li>
                            <li><a href="#">Serwery DNS</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Forum <span class="caret"></span></a>
                                <ul class="dropdown-menu animated flipInX" role="menu">
                                    <li><a href="#"> Lista tematów</a></li>

                                </ul>
                            </li>
                        </ul>

                    </div><!-- /.navbar-collapse -->
                }
                @if (Html.ShowPartialView("Forum"))
                {
                    Html.RenderPartial("_ForumNavBar");

                }
            </div><!-- /.container-fluid -->
        </nav>
    </div>


    @RenderBody()


    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        if (acc != null)
            for (i = 0; i < acc.length; i++) {
                acc[i].onclick = function () {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                }
            }
    </script>

</body>


</html>
