<!DOCTYPE html>
@using DataLayer.WebCommon.Authorization;
<html class="cufon-active cufon-ready">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">

    <link rel="stylesheet" href="~/Content/css/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Content/css/layout.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <title>Ts3.pl</title>
</head>
<body id="page1">
    <div class="body1">
        <div class="body4">
            <div class="main">
                <!-- header -->
                <header>
                    <div class="wrapper">
                        <h1><a href="@Url.Action("Index","Home")" id="logo">Darmowy Serwer DNS</a></h1>
                        <nav>
                            Jesteś zalogowany:<input type="text" class="logout" value="@SessionPresister.UserName" disabled="disabled"/>
                            
                            <ul id="menu">
                                <li id="nav1" class="active"><a href="@Url.Action("Index","Home")">Home<span>Witaj!</span></a></li>
                                <li id="nav3"><a href="services.html">Serwery<span>Dodaj!</span></a></li>
                                <li id="nav4"><a href="products.html">Forum<span>forum</span></a></li>
                                <li id="nav5"><a href="contacts.html">Kontant<span>Napisz do Nas!</span></a></li>
                                <li id="nav2"><a href="@Url.Action("Index","Registry")">Rejestracja<span>Logowanie</span></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="row">

                        @RenderBody()

                    </div>
                </header>
                <!-- header end-->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="body4">
            <div class="main">
                <div class="wrapper">
                    <section class="col3">
                        <h4>Address</h4>
                        <ul class="address">
                            <li><span>Country:</span>USA</li>
                            <li><span>City:</span>San Diego</li>
                            <li><span>Phone:</span>8 800 154-45-67</li>
                            <li><span>Email:</span><a href="#">progress@mail.com</a></li>
                        </ul>
                    </section>
                    <section class="col2 pad_left2">
                        <h4>Follow Us</h4>
                        <ul id="icons">
                            <li><a href="#"><img src="~/Content/images/icon1.jpg" alt="">Facebook</a></li>
                            <li><a href="#"><img src="~/Content/images/icon2.jpg" alt="">Twitter</a></li>
                            <li><a href="#"><img src="~/Content/images/icon3.jpg" alt="">LinkedIn</a></li>
                            <li><a href="#"><img src="~/Content/images/icon4.jpg" alt="">Delicious</a></li>
                        </ul>
                    </section>
                </div>

                <footer>
                    Copyright &copy; <a href="#">Ts3.pl</a> All Rights Reserved<br>
                    Design by <a target="_blank" href="http://www.templatemonster.com/">TemplateMonster.com</a>
                </footer>
            </div>
        </div>
    </div>
</body>
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/bootstrap")
</html>
