@model  Ts3.pl.SharedModel.ForumViewModel

@{
    var IsAdmin = User.IsInRole("Admin");

}

@foreach (var item in Model.Topics)
{
    <div class="post">
        @if (IsAdmin)
        {
            <div class="btn-group pull-right">

                <div class="btn-group">
                    <a href="#" class="btn  dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">

                        <li><a href="@Url.Action("BlockPost","Forum",new { Id = item.Id})">Zablokuj post</a></li>
                        <li><a href="@Url.Action("DeletePost","Forum",new { Id = item.Id})" class="text-danger">Usuń</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("SendMesage", "Forum", new { Id = item.Id, UserId = item.UserId },null)">Wyslij wiadomość</a></li>
                    </ul>
                </div>
            </div>
        }

        <div class="wrap-ut pull-left">

            <div class="userinfo pull-left">
                <div class="avatar">
                    <img src="~/Content/images/avatar_forum_post.jpg" width="65" height="75" alt="" />
                    @*<div class="status green">&nbsp;</div>*@
                </div>

                @if (item.Blocked)
                {
                    <div class="icons">
                        <a class="text-danger"><span class="glyphicon glyphicon-lock"></span></a>
                    </div>
                }
            </div>
            <div class="posttext pull-left">
                <h2><a href="#">@Html.DisplayFor(modelItem => item.Title)</a></h2>
                <p>@Html.DisplayFor(modelItem => item.BodyContent)</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="postinfo pull-left">
            <div class="comments">
                <div class="commentbg">
                    @Html.DisplayFor(modelItem => item.Preview)
                    <div class="mark"></div>
                </div>

            </div>
            <div class="views"><i class="fa fa-eye"></i> @Html.DisplayFor(modelItem => item.Preview)</div>
            <div class="time"><i class="fa fa-clock-o"></i> @Html.DisplayFor(modelItem => item.ElapsedTime)</div>
        </div>
        <div class="clearfix"></div>
    </div>
}